{% extends "arnob/base.html" %}
{% load static %}
{% block title %} Password-Reset-Complete {% endblock title%}

{% block main_content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password Completed!!</h3><hr>
            <div>
                <iframe src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2pxM3o3bzhocnVnejJ0bjB3ZWw5OWZqaWhwaXExdTgxc2NkcHgwOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tf9jjMcO77YzV4YPwE/giphy.gif" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}    