{% extends "arnob/base.html" %}
{% load static %}
{% block title %} Change Password {% endblock title %}

{% block main_content %}
    <div class="container my-5" style="font-family: Georgia, serif;">
        <div class="row">
            <h3 class="fs-2">
                Welcome <span class="text-capitalize" style="color:#f82793">{{request.user.username|capfirst}}</span>
            </h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid fs-5">
                        <a href={% url 'profile' %}>Password Change Done</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>Password Changed Successfully!!!</h3>
                <div>
                    <iframe src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2pxM3o3bzhocnVnejJ0bjB3ZWw5OWZqaWhwaXExdTgxc2NkcHgwOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tf9jjMcO77YzV4YPwE/giphy.gif" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
            </div>
        </div>

    </div>
{% endblock main_content %}
